main {
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none !important;
}

p {
  font-size: 0.9em;
  font-weight: 400;
  color: #4f4f4f;
}

h1 {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 1.875rem;
}

span {
  font-weight: 600;
  font-size: 0.9em;
}

.secao {
  background-color: #f5f5f7;
  box-shadow: 0px 10px 15px 0px #00000026;
  border-radius: 10px;
  border-top-width: 0.5rem;
  border-top-style: solid;
}

.secao_button {
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.explorando_texto {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  color: #4f4f4f;
}

.explorando_texto h1 {
  color: #0c7c77;
}

.explorando_secao {
  border-top-color: #0c7c77;
}

.explorando_instrutores-Button {
  background-color: #0c7c77;
  width: 15.813rem;
  height: 2.5rem;
  border-radius: 13px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.explorando_instrutores-span {
  color: #ffffff;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.625rem;
  font-weight: 600;
}

.explorando_buttons {
  background-color: #fdfdfd;
  border-radius: 3.125rem;
  width: 3.438rem;
  height: 3.438rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.instrutores_collapse {
  border: none;
  background-image: url('../assets/imgs/bgColapse.png');
  background-size: cover;
}

.instrutores_imagemEllipse {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 84%;
}

.instrutores_collapse-imagem {
  position: relative;
  top: -1px;
  z-index: 1;
  width: 28.125rem;
}

.instrutores_collapse-cardText {
  background-color: #f6f1ed;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.secao_arvorismo {
  border-top-color: #3391d1;
}

.butto_arvorismo,
.secao_arvorismo h1 {
  color: #3391d1;
}

.secao_pescaria {
  border-top-color: #f7941e;
}

.button_pescaria,
.secao_pescaria h1 {
  color: #f7941e;
}

.secao_ciclismo {
  border-top-color: #00a79d;
}

.button_ciclismo,
.secao_ciclismo h1 {
  color: #00a79d;
}

.secao_acampamento {
  border-top-color: #ed6b6b;
}

.button_acampamento,
.secao_acampamento h1 {
  color: #ed6b6b;
}

.secao_ProcessoAvaliativo {
  border-top-color: #0c7c77;
}

.button_ProcessoAvaliativo,
.secao_ProcessoAvaliativo h1 {
  color: #0c7c77;
}


.bg-icon-imgG {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 22px;
  top: 4px;
}

.bg-iconP,
.bg-iconG {
  background-color: #ffffff;
  border-radius: 3.125rem;
  display: block;
  width: 83px;
  height: 83px;
  position: relative;
}

.bg-icon-imgP {
  width: 93px;
  height: 82px;
  position: absolute;
  right: 12px;
  top: 4px;
}

@media (max-width: 310px) {
  .explorando_instrutores-Button {
    width: 12.313rem;
  }
}

@media (max-width: 576px) {
  .bg-iconG {
    display: none;
  }

  .bg-iconP {
    display: none;
  }
}

@media (max-width: 768px) {
  .bg-iconG {
    width: 40px;
    height: 40px;
  }

  .bg-icon-imgG {
    width: 44px;
    height: 38px;
    right: 6px;
    top: 2px;
  }

  .bg-iconP {
    width: 40px;
    height: 40px;
  }

  .bg-icon-imgP {
    width: 44px;
    height: 38px;
    right: 6px;
    top: 2px;
  }
}

@media (max-width: 992px) {
  .bg-iconG {
    width: 60px;
    height: 60px;
  }

  .bg-icon-imgG {
    width: 66px;
    height: 58px;
    right: 9px;
    top: 3px;
  }

  .bg-iconP {
    width: 60px;
    height: 60px;
  }

  .bg-icon-imgP {
    width: 66px;
    height: 58px;
    right: 9px;
    top: 3px;
  }
}