h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

*:focus {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset !important;
}

.explorando {
  font-size: 1.125em;
}

.explorando__titulo {
  color: #0c7c77;
}

.instrutores-button {
  background-color: #0c7c77;
  width: 15.813rem;
  height: 2.5rem;
  border-radius: 13px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.instrutores-button__label {
  color: #ffffff;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.625rem !important;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.explorando-button {
  background-color: #fdfdfd;
  border-radius: 3.125rem;
  width: 3.438rem;
  height: 3.438rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.instrutores-collapse {
  border: none;
  background-image: url("../assets/imgs/bgColapse.png");
  background-size: cover;
}

.instrutores-collapse__img-primary {
  position: relative;
  top: -1px;
  z-index: 1;
  width: 28.125rem;
}

.instrutores-collapse__img-secondary {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 84%;
}

.instrutores-collapse__card {
  background-color: #f6f1ed;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.icon {
  background-color: #ffffff;
  border-radius: 3.125rem;
  display: block;
  width: 83px;
  height: 83px;
  position: relative;
}

.icon__img {
  position: absolute;
  top: 4px;
}

.icon__img--pequeno {
  width: 93px;
  height: 82px;
  right: 12px;
}

.icon__img--grande {
  width: 70px;
  height: 70px;
  right: 22px;
}

@media (max-width: 310px) {
  .instrutores-button {
    width: 12.313rem;
  }
}

@media (max-width: 576px) {
  .icon {
    display: none;
  }
}

@media (max-width: 768px) {
  .icon {
    width: 40px;
    height: 40px;
  }

  .icon__img {
    width: 44px;
    height: 38px;
    right: 6px;
    top: 2px;
  }
}

@media (max-width: 992px) {
  .icon {
    width: 60px;
    height: 60px;
  }

  .icon__img {
    width: 66px;
    height: 58px;
    right: 9px;
    top: 3px;
  }
}