h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  color: #696f8c;
  font-size: 1rem;
}

*:focus {
  box-shadow: none !important;
}

.hidden {
  display: none !important;
}

.visible {
  display: block;
}

.sidebar {
  background-color: #fff;
  min-height: 100vh;
  width: 4.875rem;
  padding: 0.5rem 1rem;
  z-index: 99;
  transition: all 0.5s ease;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-family: "Roboto", sans-serif;
}

.sidebar.open {
  width: 15.625rem;
}

.sidebar.open .hidden {
  display: flex !important;
}

.sidebar.open .visible {
  display: none;
}

.toggle-button {
  height: 1.563rem;
  border: none;
  background-color: #0c7c77;
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
}

.toggle-button__label {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-icon {
  background-color: #f4f6fa;
  border-radius: 20px;
  display: block;
  width: 2.188rem;
  height: 2.25rem;
  position: relative;
}

.nav-icon__img--pequeno {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  right: 10px;
  top: -2px;
}

.nav-icon__img--grande {
  width: 2.063rem;
  height: 2.188rem;
  position: absolute;
  right: 12px;
  top: -2px;
}

.nav-item {
  background-color: white;
  width: 13.75rem;
  height: 3rem;
  border-radius: 20px;
  transition: all 0.2s ease;
}

.nav-item:hover,
.nav-item.active {
  background-color: #f4f6fa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-item:hover .nav-icon,
.nav-item.active .nav-icon {
  background-color: white;
}

.nav-item__text {
  font-size: 0.7rem;
  font-weight: 500;
  text-transform: uppercase;
}

.nav-item__text--arvorismo {
  color: #3391d1;
}

.nav-item__text--pescaria {
  color: #f7941e;
}

.nav-item__text--ciclismo {
  color: #00a79d;
}

.nav-item__text--acampamento {
  color: #ed6b6b;
}

.nav-item__text--processo {
  color: #0c7c77;
}

.conteudo {
  position: relative;
  min-height: 100vh;
  top: 0;
  left: 4.875rem;
  z-index: 2;
  width: calc(100% - 4.875rem);
  transition: all 0.5s ease;
  background-color: #fcfcfc;
}

.sidebar.open~.conteudo {
  left: 15.625rem;
  width: calc(100% - 15.625rem);
}

.sumario {
  gap: 20px;
}

.sumario__titulo {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  margin: 0;
  color: #696f8c;
  text-transform: uppercase;
}

.sumario__modulo {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  background-color: #edeff5;
  color: #696f8c;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 0.75rem !important;
}

.arvorismo-text {
  color: #3391d1;
}

.pescaria-text {
  color: #f7941e;
}

.icon-registro,
.icon-leitura {
  background-color: #ffffff;
  border-radius: 3.125rem;
  display: block;
  width: 70px;
  height: 70px;
  position: relative;
}

.icon-registro__img {
  width: 62px;
  height: 65px;
  position: absolute;
  right: 16px;
  top: 4px;
}

.icon-leitura__img {
  width: 80px;
  height: 70px;
  position: absolute;
  right: 1px;
  top: 4px;
}

@media (max-width: 768px) {

  .icon-leitura,
  .icon-registro {
    display: none;
  }
}

@media (max-width: 992px) {
  .icon-registro {
    width: 59px;
    height: 56px;
  }

  .icon-registro__img {
    width: 68px;
    height: 50px;
    right: 4px;
    top: 3px;
  }

  .icon-leitura {
    width: 60px;
    height: 60px;
  }

  .icon-leitura__img {
    width: 60px;
    height: 60px;
    right: 4px;
    top: 3px;
  }
}