@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

main {
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none !important;
}

p {
  font-size: 0.9em;
  font-weight: 400;
  color: #4F4F4F;
}

h1 {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 1.875rem;
}

span {
  font-weight: 600;
  font-size: 0.9em;
}

.secao {
  background-color: #F5F5F7;
  box-shadow: 0px 10px 15px 0px #00000026;
  border-radius: 10px;
  border-top-width: 0.5rem;
  border-top-style: solid;
}

.secao_button {
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bg-icon {
  background-color: #FFFFFF;
  border-radius: 3.125rem;
  display: block;
  width: 88px;
  height: 83px;
  position: relative;
}

.bg-icon-img {

  position: absolute;
  left: -12px;
  top: 4px;
}

.explorando_texto {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  color: #4F4F4F;
}

.explorando_texto h1 {
  color: #0C7C77;
}

.explorando_secao {
  border-top-color: #0C7C77;
}

.explorando_instrutores-Button {
  background-color: #0C7C77;
  width: 15.813rem;
  height: 2.5rem;
  border-radius: 13px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.explorando_instrutores-span {
  color: #FFFFFF;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.625rem;
  font-weight: 600;
}

.explorando_buttons {
  background-color: #FDFDFD;
  border-radius: 3.125rem;
  width: 3.438rem;
  height: 3.438rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.instrutores_collapse {
  border: none;
  background-image: url("./assets/imgs/bgColapse.png");
  background-size: cover;
}

.instrutores_imagemEllipse {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 84%;
}

.instrutores_collapse-imagem {
  position: relative;
  top: -1px;
  z-index: 1;
  width: 450px;
}

.instrutores_collapse-cardText {
  background-color: #F6F1ED;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.secao_arvorismo {
  border-top-color: #3391D1;
}

.butto_arvorismo,
.secao_arvorismo h1 {
  color: #3391D1;
}

.secao_pescaria {
  border-top-color: #F7941E;
}

.button_pescaria,
.secao_pescaria h1 {
  color: #F7941E;
}

.secao_ciclismo {
  border-top-color: #00A79D;
}

.button_ciclismo,
.secao_ciclismo h1 {
  color: #00A79D;
}

.secao_acampamento {
  border-top-color: #ED6B6B;
}

.button_acampamento,
.secao_acampamento h1 {
  color: #ED6B6B;
}


.secao_ProcessoAvaliativo {
  border-top-color: #0C7C77;
}

.button_ProcessoAvaliativo,
.secao_ProcessoAvaliativo h1 {
  color: #0C7C77;
}

@media (max-width: 310px) {
  .explorando_instrutores-Button {
    width: 12.313rem;
  }
}